/* Moved style elements here from basic structure */

.btn-bottom {
    margin-bottom: 50px;
}
#loginForm, #regForm {
    width:70%;
    margin:0 auto;
}
#signupBtn {
    margin-top:20px;
}
#navTabs {
    margin-top:100px;
}
#regtab input {
    margin-bottom:10px;
}
#logtab input {
    margin-bottom:10px;
}
#mainmenu {
    margin-top:50px;
    margin-bottom:50px;
}
body {
}
.full {
    background-color: #f6f7f8;
    //background: url("") no-repeat center center fixed;
    //-webkit-background-size: cover;
    //-moz-background-size: cover;
    //background-size: cover;
    //-o-background-size: cover;
}
.container {
    margin-top:50px;
    padding:25px;
    background-color: #fff;
}

.form-header {
    width:70%;
    margin:0 auto;
}
.question-title {
    margin-bottom:10px;
}
#qPanelHeader {
    width:70%;
    margin:0 auto;
}
#placeholder {
    margin-top:20px;
    height:500px;
    width:100%;
}
.redHead {background-color: #d9534f!important}
.greenHead {background-color: #5cb85c!important}

.padLeft {
    margin-left: 15px;
}
#resultPanel {
    visibility:hidden;
}
#marBot {
    margin-bottom:15px;
}